@model IEnumerable<MySchedule.Models.UserTask>

@{
    ViewBag.Title = "Index";
}

<h2>Task List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <!--<th>
            @@Html.DisplayNameFor(model => model.ApplicationUserID)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <!--<td>
            @@Html.DisplayFor(modelItem => item.ApplicationUserID)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.UserTaskID }) |
            @Html.ActionLink("Details", "Details", new { id=item.UserTaskID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.UserTaskID })
        </td>
    </tr>
}

</table>
