@model MySchedule.ViewModels.ContactsViewModel

@{
    ViewBag.Title = "Index";
}

<style>
    .btnCat {
        background-color: #689ACA;
        color: black;
        height: 30px;
        float: left;
    }
</style>

<h2>Contacts</h2>

<p>
    <input type="button" onclick="location.href='@Url.Action("Create", "Contacts")'" class="btnCat" value="Add New" />
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            <!--@@Html.DisplayNameFor(model => model.Date)-->
            @Html.Display("First Name")
            @Html.Display("Last Name")
            @Html.Display("Email Name")
        </th>
        <th></th>
    </tr>
@{
    var users = Model.users;
    var contacts = Model.contacts;
    @foreach (var item in users)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("X", "Delete", new { UserId = User.Identity.Name, ContactUserID = item.Email })
            </td>
        </tr>
    }
}


</table>
