@model IEnumerable<MySchedule.Models.Location>

@{
    ViewBag.Title = "Index";
}

<h2>Locations List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <!--<th>
            @@Html.DisplayNameFor(model => model.ApplicationUserID)
        </th>-->
        <th>
            @Html.DisplayNameFor(model => model.Venue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <!--<td>
            @@Html.DisplayFor(modelItem => item.ApplicationUserID)
        </td>-->
        <td>
            @Html.DisplayFor(modelItem => item.Venue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LocationID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LocationID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LocationID })
        </td>
    </tr>
}

</table>
